.about {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.about-list {
  &:first-child {
    margin-left: 0;
  }

  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    &:nth-child(3) {
      margin-left: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    &:nth-child(3) {
      margin-left: 30px;
    }
  }
}

.about-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.about-text {
  margin-bottom: 16px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.about-items {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.com-img {
  width: 100%;
}
