.logo {
  color: #2196f3;
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-logo-element {
  display: block;
  width: 145px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.accent-header {
  color: var(--primary-text-color);
}

.accent-footer {
  color: var(--accent-whiter-color);
}
