h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.not-padding {
  padding-bottom: 0;
}

.section {
  background-color: var(--secondary-bg-color);
}

.bgr-primary {
  background-color: var(--primary-bg-color);
}
